@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 50px auto 50px;
    grid-template-columns: auto;
    grid-template-areas: "header" "main" "footer";
}

html, body {
    height: 100%;
}

.custom-bg-333 {
    background-color: #333;
  }
  