<header class="w-full h-min custom-bg-333 flex flex-row justify-start items-center 2xl:mx-auto p-5 ">
  <nav class="flex flex-row justify-center items-center gap-10 px-5 mx-10 2xl:mx-48">
    <h2 class="text-white">1dv610 - Labboration 3</h2>
    <ul class="text-white flex flex-row justify-between items-center gap-10 px-5">
      <% if (PATH) { %>
        <li class="hover:text-yellow-200"><a href="<%= PATH.HOME %>">Home</a></li>
        <li class="hover:text-yellow-200"><a href="<%= PATH.HORIZONTALBAR %>">Diagams</a></li>
        <li class="hover:text-yellow-200"><a href="<%= PATH.CREATE_DIAGRAM %>">Create Driagram</a></li>
      <% } %>
    </ul>
  </nav>
</header>